{% load static %}

<html>
    <head>
      <title>Life at IITK</title>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
       <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
       <link rel="stylesheet" href="{%static 'css/blog.css' %}">
     <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
         <div>
            <h1>Summer Projects 2019-P Club</h1>
        </div>
        <div>
           <p>published: 01.07.2030, 13:00</p>
           <h2>Project 1: Life @ IITK</h2>
           <h3>Developing an web-app in modules for all of life at IITK</h3>
       </div>
       <div>
         <h4>Project Description:</h4>
         <p>Ever pondered over the fact that with so much going around everywhere on campus, there should be a single stop to all your college requirements?
- Share Auto/Tempo - Lost and Found - Personal Calendar - What’s happening on campus? (Modular structure to plug more modules as required)</p>
<p>Great opportunity to develop something that (if completed) will actually start to be used campus-wide (How cool is that? People using an App you wrote!)
Pre-reqs: Javascript/Python/Ruby (any would do)
Selection: Simple web-app submission</p>
       </div>
       <div>

         <h4><a href="https://glvarun.pythonanywhere.com/">Mentors & Commitment</a></h4>

</div>
<div>
  <p>for more projects visit:</p>
  <a href="https://docs.google.com/presentation/d/1ceD7a73luixSuOgnEuCfnJ09X7tO5MsAV9g1DJtEyDM/edit#slide=id.g55c85499b9_0_0">pclubprojects</a>
</div>
</body>
</html>
